*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;

}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    


}
body{
    font-size: 1.5rem;
    font-family: shippori mincho;
    line-height: 1.6;

}
.first-nav-wrapper{
    display: flex;
}
.first-nav-wrapper ul{
    
    display: flex;
    
}
header{
    
    width: 100%;
    height: 7rem;
    background-color: #2B2929;
    border-bottom: 0;
}

.chique a{
width: auto;
    text-decoration: none;
    color: white;
    font-size: 3.5rem;
    font-family: satisfy;
}

.link-list a:hover{
    background-color: grey;
    color: black;
    transition: 1.2s;
}
.link-list a{
    padding: 3rem;
}
.header-2 li:hover{
    background-color: grey;
    transition: 01s;
    
}
.header-2 a:hover{
    color: black;
    transition: 1.5s;
}
.item-title{
    text-align: center;
    padding: 1.5rem;
    font-weight: bolder;
    font-size: larger;
}
.item-text{
    font-size: large;
    font-weight: normal ;
    text-align: center;
    
}
.link-list ul{
    text-align: center;
    margin-top: 9%;
}
li.women-link a{
    padding: 3rem 2.3rem;
    background-color: gray !important;

}
li.men-link a{
    
    padding: 1.4rem 3.5rem;
    background-color: black !important;
}
.link-list ul{
    display: flex;

}
.header-2 ul{
    
    margin-top: -%;
  
       
    
}
.header-2 a{
    padding: 1.4rem ;
}
.chique ul{
    display: flex;
}

.first-nav-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    
}

li{
    
    display: inline-block;
    padding: 0px 2px;
}

li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}
 a:hover{
    color:rgb(255, 255, 255);
    transition: 0.5s;
}

ul.grey-links li a{

    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-size: 1.7rem;

}


.header-2{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height:5.5rem;
    background-color: #bababa;
}
.access-wrapper {
    position: relative;
    display: flex;
    justify-content:center ;
    margin-top: 100px;
}
.makeup img{
    height: 49rem;
    width: 100%;
}
.necklace img{

    height: 49rem;
    width: 100%;
}

.shop-now-group a{
    white-space: nowrap;
    font-size: larger;
    text-decoration: none;
    color: black;
    padding: .5rem 2rem;
    background-color: rgb(189, 120, 130);
}
.shop-now-group a:hover{
    color: white;
    transition: 1s;
}

.shop-now-group{
    position: absolute;
   left: 50%;
    top: 15%;
    transform: translate(-50%);
}

.access-text{
    
   
    color: rgb(253, 99, 122);
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;

}

.access-link{
    position: absolute;
    margin-top: 100px;
    margin-left: 50%;
    transform: translate(-50%);

}
a:hover{
    color: gray;
    transition: .5s;
}

.grid-cols-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5%;
    margin-top: 5%;
    
    
}
.grid-cols-auto2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 15px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.flex-rows-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13%;
}

.flex-grid-image{

    width: 60%;
    height: 60%;

}
.grid-bottom{
    justify-items: center;

}


.grid-bottom > * {

    width: 100%;

}

img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section a{
    text-decoration: none;
    color: black;
}
 section a:hover{
     color: rgb(160, 158, 158);
 }

 .contacts{
     display: flex;
     justify-content: space-around;
     width: 100%;
     height: 5.5rem;
     background-color: #534545;
     margin-top: 7.6rem;
     margin-bottom: 0;
 }
.facebook-logo{
    height: 5rem;
    width: 5rem;
}
.insta-logo{
    height: 5rem;
    width: 5rem;
}
.whatsapp-logo{
    height: 5rem;
    width: 5rem;
}
.help-about{

    background-color: #c4c4c4;
    width: 100%;
    height: 32%;
    
}
.copyright{
    background-color: black;
    width: 100%;
    height: 5rem;
    color: white;
    padding-top: 1.5rem;
}

.bottom-container li{
    display: block;
    margin: 1.5rem;
}
.bottom-container{
    display: flex;
    gap: 10%;
    font-size: larger;
}
.about-us{
  
}
.zambia{
    width: 20%;
    height: 20%;
}
.bottom-container a{
    color: #2B2929;
}
.bottom-container a:hover{
    color: white;
}